<%- include layout.ejs %>
<!DOCTYPE html>
<html>

<body>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h1>자취생의 레시피</h1>
			</div>
			<div class="col-xs-4">
				<form method="get" action="/search">
					<input type="text" name="searchQuery" placeholder="Write recipe name here"
						   style="width: 250px; height: 30px">
					<button type="submit" class="btn btn-primary">검색!</button>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<!-- Example row of columns -->
	<!-- 목록(베스트/검색결과) 섹션 -->
	<div class="row">
		<!-- 목록 타이틀 -->
		<a class="btn btn-success" style="background-color: #5cb85c ; font-size : 23px" >Best Recipe</a>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="row">

				<div class="col-xs-4">
					<h2><%=top1.recipeName%></h2>
					<span class="col-xs-12">
						<img src="data:image/jpeg;base64, <%=img1%>" class="img-thumbnail" style="width:80px; height:80px">
					</span>
					<p><a class="btn btn-default" style="background-color: #ff8d00" href="/recipe/<%=top1.id%>" role="button">View details &raquo;</a></p>
				</div>

				<div class="col-xs-4">
					<h2><%=top2.recipeName%></h2>
					<span class="col-xs-12">
						<img src="data:image/jpeg;base64, <%=img2%>" class="img-thumbnail" style="width:80px; height:80px">
					</span>
					<p><a class="btn btn-default" style="background-color: #ff8d00" href="/recipe/<%=top2.id%>" role="button">View details &raquo;</a></p>
				</div>

				<div class="col-xs-4">
					<h2><%=top3.recipeName%></h2>
					<span class="col-xs-12">
						<img src="data:image/jpeg;base64, <%=img3%>" class="img-thumbnail" style="width:80px; height:80px">
					</span>
					<p><a class="btn btn-default" style="background-color: #ff8d00" href="/recipe/<%=top3.id%>" role="button">View details &raquo;</a></p>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- /container -->
</body>

</html>
